$theme-border-radius:          0px !important;
$border-radius:        0px !important;

// text size for home page hero box
.fs-5 {
    font-size: 1rem !important; // was 1.25
}
// padding for box where news etc is displayed
#news {
    padding-top: 2rem !important; // was 3
    padding-bottom: 2rem !important;
}

.custom-cards .card-title {
    font-weight: bold !important;
}

.org-logo-img-footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.other-logo-img-footer {
    padding-left: 15px !important;
    padding-right: 15px !important;
}